.bankHeader {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-right: 20%; 
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 20%;
  }
  
  .logo img {
    height: 25%;
    width: 19%;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: black;
    text-decoration: none; 
    margin-bottom: 10%;
  }
  
  .dropdown {
    position: relative; 
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 10%;
    line-height:4.5;
  }
  @media screen and (max-width: 768px) {
    .bankHeader {
    height: auto;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    }
    
    .menu {
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    }
    
    .logo img {
    height: 50%;
    width: 50%;
    margin-bottom: 20px;
    }
    
    ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    li {
    margin: 10px 0;
    }
    
    .dropdown-content {
    position: static;
    display: none;
    width: 100%;
    }
    
    .dropdown:hover .dropdown-content {
    flex-direction: row;
    gap: 20px;
    line-height: 1.5;
    justify-content: center;
    padding: 0;
    }
    }
  // Header biter.
// sectionCardman başlar.
.corporate{
    position: relative;
}
.manWithCard{
    width: 60%;
    margin-left:40% ;
}
.Texts1{
    position: absolute;
    top: 25%;
    margin-left: 8%;
}
.tax{
    color: gray;
    margin-top: 4%;
    width: 80%;
}
.global{
    position: relative;
}
.globalImage{
    margin-left: 60%;
}
.Texts2{
    position: absolute;
    top: 9%;
    margin-left: 10%;
}
.visamaster{
    width: 20%;
}
// sectionCardman biter.
// cardAdvantages başlar
.cardAdvantages{
    margin-left: 10%;
    position: relative;
}

.explanation{
    display: flex;
    margin-bottom: 9%;
}
.explanationButton{
position: absolute;
margin-top: 11%;
}

.explanation2{
    gap: 10%;
    display: flex;
}
.explanation3{
    display: flex;
}
//ordersection başlar
.order{
    margin-left: 5%;
}
.ordering{
    display: flex;
    gap: 10%;
}
.Certificate{
    margin-top: 5%;
}
.send{
    width: 200%;
    margin-left: 10%;
}
.pick{
    margin-left: 10%;
    margin-top: 4%;
}
.delivery{
    margin-right: 10%;
    top: 100%;
    width: 200%;
}
//ordersection biter
//needsection başlar
.need{
    position: relative;
}
.Business{
    position: absolute;
    top: 45%;
    margin-left: 8%;
}
.Business button{
    width: 100%;
}
.for{
display: flex;
gap: 20%;
}

//needsection biter














// footer başlar
footer {
    background-color: #eee;
    padding: 20px;
    top: 10%;
  }
  
  footer h4 {
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    margin-bottom: 5px;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #333;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }